.title {
    position: relative;
    padding-bottom: 10px;
  }

 /* GenerateProposalModal.css */
.ant-modal-body {
  padding: 0 !important;
}

.acc-modal .ant-modal-content{
    padding: 0  !important;
}


