/* Global CSS or component-level style */
.ant-table-cell {
  border: none !important;
}

.update_table {
  font-size: 12px !important; /* Example: Small font size */
}

.ant-table th,
.ant-table td {
  border: none !important;
}
